<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246154577277-95bv9bfb0erub99llooqi9e1ho5beh3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246154577277-95bv9bfb0erub99llooqi9e1ho5beh3v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246154577277-3j9q71e4gah1uvv6r8norocagj13d5n9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAh1fFflHd0qIoJq3chwfirf-1fWyamCAI</string>
	<key>GCM_SENDER_ID</key>
	<string>246154577277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onshop.app</string>
	<key>PROJECT_ID</key>
	<string>medical-eq</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-eq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246154577277:ios:8a5d560dc218c932b4b814</string>
</dict>
</plist>